/*show*/
.show{
    margin-top: 30px;
    padding: 0 20px;
}
.show1{
    width: 100%;
    margin: 20px 0;
    height: 700px;
}
.show_list1{
    position: relative;
    float: left;
    height: 700px;
    width: 49%;
    margin-right:2% ;
    overflow: hidden;
}
.show_list1 img,.show_list2 img,.show_list3 img{
    position: absolute;
    left: 0;
    transition: all .5s;
}
.show_list2,.show_list3{
    width: 49%;
    position: relative;
    float: right;
    height: 340px;
    overflow: hidden;
}
.show_list3{
    margin-top: 20px;
}
.mask{
    display: none;
    position: absolute;
    left: 0;
    top:0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: .5;
}
.mask_text{
    z-index: 100;
    position: absolute;
    bottom: 0;
    padding: 40px;
    color: #fff;
    width: 400px;
    transition: all .5s;
}
.mask_text h3{
    font-weight: normal;
    font-size: 28px;
    line-height: 60px;
}
.mask_text p{
    opacity: 0;
    transition: all .5s;
}
.show1>div:hover .mask{
    display: block;
}
.show1>div:hover .mask_text{
    bottom: 20px;
}
.show1>div:hover img{
    left: -20px;
}
.show1>div:hover p{
    opacity: 1;
}
.show2{
    height: 340px;
}
.show2>div{
    float: left;
}
.show2 .show_list3{
    margin-left: 2%;
    margin-top: 0;
}
.show3{
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    height: 540px;
    background: url("../img/hw1_index_video2.jpg") no-repeat 100% 100%;
}
.show3 h2{
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    width: 500px;
    margin: 100px auto;
    text-align: center;
}
.show3 img{
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -35px;
}
.show3 .h_vb{
    display: none;
}
.show3:hover .h_vb{
    display: block;
}
